* {
    box-sizing: border-box;
}

body, html {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    color: white;
    /* text-shadow: 1px 1px 10px #000; */
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    color: black;
}

.gridWrapper {
    width: 100vw;
    max-width: 100%;

    display: grid;
    grid-template-rows: 100vh;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: url("../img/WineOnTable.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.welcome::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.welcome .openingHours-container {
    z-index: 1;
    text-align: center;
    font-size: 19px;
}

.openingHours-container span {
    color: #aaa;
}

.welcomeLogo-container {
    width: 500px;
    z-index: 1;
}

.arrow-container {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 50px;

    z-index: 1;
}

#about .imgContainer {
    display: flex;
    align-items: center;

    height: 450px;
}

#about article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about article .textContainer {
    width: 550px;
}

#about article .textContainer h1 {
    font-size: 45px;
    margin: 0;
}

#about article .textContainer p {
    font-size: 1.1rem;
    margin: 10px 0 0 0;
}

#info .imgContainer {
    display: flex;
    align-items: center;

    height: 450px;
}

#info article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#info article .textContainer {
    width: 450px;
}

#info article .textContainer h1 {
    font-size: 45px;
    margin: 0;
}

#info article .textContainer p {
    font-size: 1.1rem;
    margin: 10px 0 0 0;
}

.menu-section {
    display: grid;

}

.contact {
    background: url("../img/OutsideRestaurant.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    position: relative;

    height: 100vh;
}

.contact::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
}

footer {
    background-color: #000;
    color: white;
}

img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.section-white {
    background-color: white;
    color: black;
}

.section-red {
    background-color: #aa3636;
    color: white;
}

.section-green {
    background-color: #449448;
    color: white;
    text-shadow: 1px 1px 3px #000;
}

.section-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}