
/* 

*** KOMMENTAR-SYNTAX ***

Kommentarer som ser ut såhär:   / *
                                  * XXX
                                  * /

Betyder att följande css stylear an ny html sida.

Kommentarer som ser ut såhär: / * XXX * /

Betyder att följande css stylear en ny sektion/element på samma sida som
senaste av den förra ovanstående kommentaren.

*/



/* Base Structure */

* {
    box-sizing: border-box;
}

body, html {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: white;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;

    display: flex;
    align-items: center;

    background-color: white;
    color: black;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

    z-index: 10;
}

nav .nav-items {
    width: 75%;
    height: 100%;
    margin: auto;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    font-size: 1.25rem;
    font-weight: 700;

    list-style: none;
    text-align: center;
}

nav .nav-items a .active:after {
    content: ".";
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 3px;

    color: transparent;
    background: black;

}

nav .nav-items a {
    color: black;
    text-decoration: none;
    position: relative;
}

nav .nav-items a:after {
    content: ".";
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    height: 3px;

    color: transparent;
    background: black;
    
    transition: all 0.5s ease;
}

nav .nav-items a:hover:after {
    width: 100%;
}

nav #navLogo {
    width: 0%;
    padding: 0rem;
    
    transition: all 0.25s ease;
}

nav #navLogo.active {
    width: 25%;
    padding: 3.5rem;
    
}

footer {
    background-color: #000;
    color: white;
}

img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}

.section-white {
    background-color: white;
    color: black;
}

.section-red {
    background-color: #aa3636;
    color: white;
    text-shadow: 1px 1px 3px #000;
}

.section-green {
    background-color: #449448;
    color: white;
    text-shadow: 1px 1px 3px #000;
}

.section-black {
    background-color: #111;
    color: white;
}

.section-grid-50 {
    display: grid;
    grid-template-columns: 50% 50%;
}

.section-grid-33 {
    display: grid;
    grid-template-columns: repeat(3, calc(100%/3));
    justify-content: space-between;
}

.center-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.overlay-tint::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.overlay-tint * {
    z-index: 1;
}

.section-text-container h1 {
    font-size: 45px;
    margin: 0;
}

.section-text-container p {
    font-size: 1.1rem;
    margin: 0.5rem 0 0.5rem 0;
}

.btn-fill {
    padding: 1.25rem;

    background-color: white;
    border-radius: 5px;
    color: black;

    font-weight: 700;
    text-decoration: none;

    transition: all 150ms linear;
}

.btn-fill:hover {
    background-color: #862a2a;
}

.btn {
    padding: 1rem;

    border: solid white 2px;
    border-radius: 5px;

    font-weight: 700;
    text-decoration: none;

    transition: background 250ms linear;
}

.btn:hover {
    background-color: white;
    color: blacK;
}


/*
 * Home Page
 */

.gridWrapper {
    width: 100vw;
    max-width: 100%;

    display: grid;
    grid-template-rows: 100vh;
}


/* Landing page section */

#welcome {
    background: url("../img/WineOnTable.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.welcomeLogo-container {
    width: 500px;
}

.arrow-container {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 50px;
}


/* About Section */ 

#about .imgContainer {
    display: flex;
    align-items: center;

    height: 450px;
}

#about .section-text-container {
    width: 550px;
}


/* Info Section */ 

#info .imgContainer {
    display: flex;
    align-items: center;

    height: 450px;
}

#info .section-text-container {
    width: 450px;
}


/* Opening Hours Section */

 #openingTimes .times-container {
    width: 100%;

    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    text-align: center;
}

#openingTimes h1 {
    margin-bottom: 1rem;
}

#openingTimes span {
    margin: 0.5rem 0 0.5rem 0;
}


/* Book Section */

#book {
    background: url("../img/RestaurantTables.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    position: relative;

    height: 100vh;
    text-align: center;
}

#book article {
    width: 500px;
}

#book article h1{
    margin: 0;
    font-size: 3rem;
}

#book article p {
    margin-bottom: 1.5rem;
}


/* Reviews Section */
 
#reviews-section {
    display: flex;
    flex-direction: column;
}

#reviews-section .reviewsBackground {
    position: relative;
    background-image: url("/img/ReviewPic.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    padding: 10rem;
}

#adStars h1 {
    font-size: 3rem;
    margin: 0 0 1.25rem 0;
}

#adStars .stars {
    font-size: 2.5rem;
}

.stars .checked {
    color: orange;
}

#reviews {
    padding: 0 10% 0 10%;

    background-color: rgb(245, 245, 245);

    flex-direction: row !important;
    justify-content: space-around !important;
    flex-wrap: wrap;

    text-align: center;
}

.review {
    background-color: white;

    margin-top: 2rem;
    margin: 2rem;
    padding: 2rem;
    
    box-shadow: rgba(0, 0, 0, 0.2) 5px 5px 5px;
}

.review .profilePic-container {
    position: relative;
}

.review .profilePic {
    width: 100px;
    height: 100px;
}

.review .profilePic img {
    border-radius: 50%;
}

.review .stars {
    margin-bottom: 1rem;
}

.review .text-container {
    width: 250px;
}

.review .text-container h1 {
    margin-bottom: 0.5rem;
}

.review .text-container p {
    margin-top: 0;
    text-align: left;
}


/*
 * Menu Page
 */

.grid-wrapper-menu {

    width: 100vw;
    max-width: 100%;
    min-height: 100vh;

    display: grid;
    grid-template-rows: 100vh;
}

.grid-wrapper-menu main {
    background-image: url("/img/menu.jpg");
    background-size: cover;
    background-position: center;
}

.grid-wrapper-menu section article {
    position: relative;
}

.grid-wrapper-menu section header {
    padding: 7.5rem;
    font-size: 2rem;
}

.grid-wrapper-menu section article h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: white;
    font-size: 2rem;
    text-shadow: 1px 1px 3px #000;
}


.main-course {
    
}

.desserts {
    
}